body {
    background-color: white;
    color: red;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
   
}

h1{
    text-transform: uppercase;
    text-align: center;
    color:red;
    font-size: x-large;
    font-family: 'Oleo Script Swash Caps', cursive;
    background:linear-gradient(to right,red , white)
}

.caja1{
    border-radius: 10px 10px 10px 10px;
    background-color:  blue;
    width: 140px;
    height: 80px;
    text-align: center;
   
}
 
.caja2{
    background-color:  yellow;
    width: 150px;
    height: 100px;
   box-shadow: 10px 10px 10px ;
}


    

